    <contextParameter comment="" name="URL" prompt="URL?" promptNeeded="false" type="id_String" value="https://sinapps-ird.vabf.darva.com" xmi:id="_kTjXQ1k9Eeq2tNUIxuZq1A"/>
    <contextParameter comment="" name="Path_Connection" prompt="Path_Connection?" promptNeeded="false" type="id_String" value="/core/api/login" xmi:id="_kTjXRFk9Eeq2tNUIxuZq1A"/>
    <contextParameter comment="" name="Filter_Mission" prompt="Filter_Mission?" promptNeeded="false" type="id_String" value="MissionCreee" xmi:id="_kTjXRVk9Eeq2tNUIxuZq1A"/>
    <contextParameter comment="" name="Date_Format" prompt="Date_Format?" promptNeeded="false" type="id_String" value="yyyy-MM-dd'T'HH:mm:ssTZH:TZM" xmi:id="_kTjXRlk9Eeq2tNUIxuZq1A"/>
    <contextParameter comment="" name="Path_Events1" prompt="Path_Events1?" promptNeeded="false" type="id_String" value="/core/api/partenaire/users/" xmi:id="_kTjXR1k9Eeq2tNUIxuZq1A"/>
    <contextParameter comment="" name="Path_Events2" prompt="Path_Events2?" promptNeeded="false" type="id_String" value="/linkedEvents" xmi:id="_kTjXSFk9Eeq2tNUIxuZq1A"/>
    <contextParameter comment="" name="URI_add_photo1" prompt="URI_add_photo1?" promptNeeded="false" type="id_String" value="/core/api/covea/missions/" xmi:id="_kTjXSVk9Eeq2tNUIxuZq1A"/>
    <contextParameter comment="" name="URI_add_photo2" prompt="URI_add_photo2?" promptNeeded="false" type="id_String" value="/commands/ajouterPhoto" xmi:id="_kTjXSlk9Eeq2tNUIxuZq1A"/>
    <contextParameter comment="" name="URI_add_document1" prompt="URI_add_document1?" promptNeeded="false" type="id_String" value="/core/api/covea/missions/" xmi:id="_kTjXS1k9Eeq2tNUIxuZq1A"/>
    <contextParameter comment="" name="URI_add_document2" prompt="URI_add_document2?" promptNeeded="false" type="id_String" value="/commands/ajouterDocument" xmi:id="_kTjXTFk9Eeq2tNUIxuZq1A"/>
    <contextParameter comment="" name="URI_take_RDV1" prompt="URI_take_RDV1?" promptNeeded="false" type="id_String" value="/core/api/covea/missions/" xmi:id="_kTjXTVk9Eeq2tNUIxuZq1A"/>
    <contextParameter comment="" name="URI_take_RDV2" prompt="URI_take_RDV2?" promptNeeded="false" type="id_String" value="/commands/prendreRendezVousAvecModifications" xmi:id="_kTjXTlk9Eeq2tNUIxuZq1A"/>
    <contextParameter comment="" name="URI_take_RDV_travaux" prompt="URI_take_RDV_travaux?" promptNeeded="false" type="id_String" value="/commands/planifierTravaux" xmi:id="_kTjXT1k9Eeq2tNUIxuZq1A"/>
    <contextParameter comment="" name="URI_travaux" prompt="URI_travaux?" promptNeeded="false" type="id_String" value="/core/api/covea/travaux/" xmi:id="_kTjXUFk9Eeq2tNUIxuZq1A"/>
    <contextParameter comment="" name="URI_take_RDV3" prompt="URI_take_RDV3?" promptNeeded="false" type="id_String" value="/commands/prendreRendezVous" xmi:id="_kTjXUVk9Eeq2tNUIxuZq1A"/>
    <contextParameter comment="" name="URI_Maj_Email" prompt="URI_Maj_Email?" promptNeeded="false" type="id_String" value="/core/api/covea/missions/" xmi:id="_kTjXUlk9Eeq2tNUIxuZq1A"/>
    <contextParameter comment="" name="URI_Maj_Email2" prompt="URI_Maj_Email2?" promptNeeded="false" type="id_String" value="/commands/modifierCoordonneesAssure" xmi:id="_kTjXU1k9Eeq2tNUIxuZq1A"/>
    <contextParameter comment="" name="Sinapps_Id" prompt="Sinapps_Id?" promptNeeded="false" type="id_String" value="" xmi:id="_Nno1QHPyEeqfXcAHbINrhA"/>
    <contextParameter comment="" name="Partenaire_Id" prompt="Partenaire_Id?" promptNeeded="false" type="id_String" value="" xmi:id="_Nno1QXPyEeqfXcAHbINrhA"/>
    <contextParameter comment="" name="Links" prompt="Links?" promptNeeded="false" type="id_String" value="" xmi:id="_Nno1QnPyEeqfXcAHbINrhA"/>
    <contextParameter comment="" name="Last_Event_Id" prompt="Last_Event_Id?" promptNeeded="false" type="id_String" value="" xmi:id="_Nno1Q3PyEeqfXcAHbINrhA"/>
    <contextParameter comment="" name="CurrentEventId1" prompt="CurrentEventId1?" promptNeeded="false" type="id_String" value="" xmi:id="_Nno1RHPyEeqfXcAHbINrhA"/>
    <contextParameter comment="" name="CurrentEventId2" prompt="CurrentEventId2?" promptNeeded="false" type="id_String" value="" xmi:id="_Nno1RXPyEeqfXcAHbINrhA"/>
    <contextParameter comment="" name="CurrentEventId3" prompt="CurrentEventId3?" promptNeeded="false" type="id_String" value="" xmi:id="_Nno1RnPyEeqfXcAHbINrhA"/>
    <contextParameter comment="" name="EventHREF1" prompt="EventHREF1?" promptNeeded="false" type="id_String" value="" xmi:id="_Nno1R3PyEeqfXcAHbINrhA"/>
    <contextParameter comment="" name="EventHREF2" prompt="EventHREF2?" promptNeeded="false" type="id_String" value="" xmi:id="_Nno1SHPyEeqfXcAHbINrhA"/>
    <contextParameter comment="" name="EventHREF3" prompt="EventHREF3?" promptNeeded="false" type="id_String" value="" xmi:id="_Nno1SXPyEeqfXcAHbINrhA"/>
    <contextParameter comment="" name="ConnCookie" prompt="ConnCookie?" promptNeeded="false" type="id_String" value="" xmi:id="_Nno1SnPyEeqfXcAHbINrhA"/>
    <contextParameter comment="" name="SFEventTypeId" prompt="SFEventTypeId?" promptNeeded="false" type="id_String" value="" xmi:id="_Nno1S3PyEeqfXcAHbINrhA"/>
    <contextParameter comment="" name="darva_ref_mission_id" prompt="darva_ref_mission_id?" promptNeeded="false" type="id_String" value="" xmi:id="_Wz-pAHPyEeqfXcAHbINrhA"/>
    <contextParameter comment="" name="darva_ref_dossier" prompt="darva_ref_dossier?" promptNeeded="false" type="id_String" value="" xmi:id="_Wz-pAXPyEeqfXcAHbINrhA"/>
    <contextParameter comment="" name="darva_case_status" prompt="darva_case_status?" promptNeeded="false" type="id_String" value="" xmi:id="_Wz-pAnPyEeqfXcAHbINrhA"/>
    <contextParameter comment="" name="darva_case_travaux_rdv_date" prompt="darva_case_travaux_rdv_date?" promptNeeded="false" type="id_Date" value="" xmi:id="_Wz-pA3PyEeqfXcAHbINrhA"/>
    <contextParameter comment="" name="darva_case_appel_metrage" prompt="darva_case_appel_metrage?" promptNeeded="false" type="id_Date" value="" xmi:id="_Wz-pBHPyEeqfXcAHbINrhA"/>
    <contextParameter comment="" name="darva_case_creation_date" prompt="darva_case_creation_date?" promptNeeded="false" type="id_Date" value="" xmi:id="_Wz-pBXPyEeqfXcAHbINrhA"/>
    <contextParameter comment="" name="darva_case_type" prompt="darva_case_type?" promptNeeded="false" type="id_String" value="" xmi:id="_Wz-pBnPyEeqfXcAHbINrhA"/>
    <contextParameter comment="" name="darva_case_date" prompt="darva_case_date?" promptNeeded="false" type="id_String" value="" xmi:id="_Wz-pB3PyEeqfXcAHbINrhA"/>
    <contextParameter comment="" name="darva_case_hour" prompt="darva_case_hour?" promptNeeded="false" type="id_String" value="" xmi:id="_Wz-pCHPyEeqfXcAHbINrhA"/>
    <contextParameter comment="" name="darva_rdv_dynamic_link_uri" prompt="darva_rdv_dynamic_link_uri?" promptNeeded="false" type="id_String" value="" xmi:id="_Wz-pCXPyEeqfXcAHbINrhA"/>
    <contextParameter comment="" name="darva_case_date_rdv_metrage_prevue" prompt="darva_case_date_rdv_metrage_prevue?" promptNeeded="false" type="id_Date" value="" xmi:id="_Wz-pCnPyEeqfXcAHbINrhA"/>
    <contextParameter comment="" name="planificationId" prompt="planificationId?" promptNeeded="false" type="id_String" value="" xmi:id="_Wz-pC3PyEeqfXcAHbINrhA"/>
    <contextParameter comment="" name="URI_modif_RDV_travaux" prompt="URI_modif_RDV_travaux?" promptNeeded="false" type="id_String" value="/commands/modifierPlanificationTravaux" xmi:id="_Wz-pDHPyEeqfXcAHbINrhA"/>
    <contextParameter comment="" name="franchiseMontant" prompt="franchiseMontant?" promptNeeded="false" type="id_BigDecimal" value="" xmi:id="_Wz-pDXPyEeqfXcAHbINrhA"/>
    <contextParameter comment="" name="URI_Maj_date_metrage2" prompt="URI_Maj_date_metrage2?" promptNeeded="false" type="id_String" value="/commands/modifier" xmi:id="_xIk9wH4wEeqwzIReZCMKfw"/>
    <contextParameter comment="" name="URI_Maj_date_metrage" prompt="URI_Maj_date_metrage?" promptNeeded="false" type="id_String" value="/core/api/covea/rendezVous/" xmi:id="_xIk9wX4wEeqwzIReZCMKfw"/>
    <contextParameter comment="" name="rendezvousId" prompt="rendezvousId?" promptNeeded="false" type="id_String" value="" xmi:id="_53HwEIiVEeq0iM04chVCLQ"/>
  </talendfile:ContextType>
  <talendfile:ContextType confirmationNeeded="false" name="PROD" xmi:id="_sJcQ8NlCEems6qJ5vTZaKA">
    <contextParameter comment="" name="login" prompt="login?" promptNeeded="false" type="id_String" value="43011api" xmi:id="_sJcQ8dlCEems6qJ5vTZaKA"/>
    <contextParameter comment="" name="password" prompt="password?" promptNeeded="false" type="id_Password" value="enc:system.encryption.key.v1:X944nnqItTLDZmcBGQT7nTKpy90vkbi8NaUJwkPhhXrWAuLK" xmi:id="_sJcQ8tlCEems6qJ5vTZaKA"/>
    <contextParameter comment="" name="URL" prompt="URL?" promptNeeded="false" type="id_String" value="https://sinapps-ird.darva.com" xmi:id="_sJcQ89lCEems6qJ5vTZaKA"/>
    <contextParameter comment="" name="Path_Connection" prompt="Path_Connection?" promptNeeded="false" type="id_String" value="/core/api/login" xmi:id="_-R0yoNlCEems6qJ5vTZaKA"/>
    <contextParameter comment="" name="Filter_Mission" prompt="Filter_Mission?" promptNeeded="false" type="id_String" value="MissionCreee" xmi:id="_ReGrMNlMEems6qJ5vTZaKA"/>
    <contextParameter comment="" name="Date_Format" prompt="Date_Format?" promptNeeded="false" type="id_String" value="yyyy-MM-dd'T'HH:mm:ssTZH:TZM" xmi:id="_LlzRQNnfEemTKs-8yslLdQ"/>
    <contextParameter comment="" name="Path_Events1" prompt="Path_Events1?" promptNeeded="false" type="id_String" value="/core/api/partenaire/users/" xmi:id="_7XJjUN36Eemv9od55d14VA"/>
    <contextParameter comment="" name="Path_Events2" prompt="Path_Events2?" promptNeeded="false" type="id_String" value="/linkedEvents" xmi:id="_7XJjUd36Eemv9od55d14VA"/>
    <contextParameter comment="" name="URI_add_photo1" prompt="URI_add_photo1?" promptNeeded="false" type="id_String" value="/core/api/covea/missions/" xmi:id="_An5ZYN-qEemi474SQw4Ttw"/>
    <contextParameter comment="" name="URI_add_photo2" prompt="URI_add_photo2?" promptNeeded="false" type="id_String" value="/commands/ajouterPhoto" xmi:id="_An5ZYd-qEemi474SQw4Ttw"/>
    <contextParameter comment="" name="URI_add_document1" prompt="URI_add_document1?" promptNeeded="false" type="id_String" value="/core/api/covea/missions/" xmi:id="_zNG2oOEGEemUo7UM6q2HUw"/>
    <contextParameter comment="" name="URI_add_document2" prompt="URI_add_document2?" promptNeeded="false" type="id_String" value="/commands/ajouterDocument" xmi:id="_zNG2oeEGEemUo7UM6q2HUw"/>
    <contextParameter comment="" name="URI_take_RDV1" prompt="URI_take_RDV1?" promptNeeded="false" type="id_String" value="/core/api/covea/missions/" xmi:id="_GD3gQOX0Eemo48OTUo1UPQ"/>
    <contextParameter comment="" name="URI_take_RDV2" prompt="URI_take_RDV2?" promptNeeded="false" type="id_String" value="/commands/prendreRendezVousAvecModifications" xmi:id="_GD3gQeX0Eemo48OTUo1UPQ"/>
    <contextParameter comment="" name="URI_take_RDV_travaux" prompt="URI_take_RDV_travaux?" promptNeeded="false" type="id_String" value="/commands/planifierTravaux" xmi:id="_TDLUAAu_EeqZVqDlcSz2UQ"/>
    <contextParameter comment="" name="URI_travaux" prompt="URI_travaux?" promptNeeded="false" type="id_String" value="/core/api/covea/travaux/" xmi:id="_9G9mAAxbEeqZVqDlcSz2UQ"/>
    <contextParameter comment="" name="URI_take_RDV3" prompt="URI_take_RDV3?" promptNeeded="false" type="id_String" value="/commands/prendreRendezVous" xmi:id="_iomaABD_EeqPdt07VIueKQ"/>
    <contextParameter comment="" name="URI_Maj_Email" prompt="URI_Maj_Email?" promptNeeded="false" type="id_String" value="/core/api/covea/missions/" xmi:id="_laI7YDtuEeq8C-64b-kt5w"/>
    <contextParameter comment="" name="URI_Maj_Email2" prompt="URI_Maj_Email2?" promptNeeded="false" type="id_String" value="/commands/modifierCoordonneesAssure" xmi:id="_0S_wkDtvEeq8C-64b-kt5w"/>
    <contextParameter comment="" name="Sinapps_Id" prompt="Sinapps_Id?" promptNeeded="false" type="id_String" value="" xmi:id="_Nno1THPyEeqfXcAHbINrhA"/>
    <contextParameter comment="" name="Partenaire_Id" prompt="Partenaire_Id?" promptNeeded="false" type="id_String" value="" xmi:id="_Nno1TXPyEeqfXcAHbINrhA"/>
    <contextParameter comment="" name="Links" prompt="Links?" promptNeeded="false" type="id_String" value="" xmi:id="_Nno1TnPyEeqfXcAHbINrhA"/>
    <contextParameter comment="" name="Last_Event_Id" prompt="Last_Event_Id?" promptNeeded="false" type="id_String" value="" xmi:id="_Nno1T3PyEeqfXcAHbINrhA"/>
    <contextParameter comment="" name="CurrentEventId1" prompt="CurrentEventId1?" promptNeeded="false" type="id_String" value="" xmi:id="_Nno1UHPyEeqfXcAHbINrhA"/>
    <contextParameter comment="" name="CurrentEventId2" prompt="CurrentEventId2?" promptNeeded="false" type="id_String" value="" xmi:id="_Nno1UXPyEeqfXcAHbINrhA"/>
    <contextParameter comment="" name="CurrentEventId3" prompt="CurrentEventId3?" promptNeeded="false" type="id_String" value="" xmi:id="_Nno1UnPyEeqfXcAHbINrhA"/>
    <contextParameter comment="" name="EventHREF1" prompt="EventHREF1?" promptNeeded="false" type="id_String" value="" xmi:id="_Nno1U3PyEeqfXcAHbINrhA"/>
    <contextParameter comment="" name="EventHREF2" prompt="EventHREF2?" promptNeeded="false" type="id_String" value="" xmi:id="_Nno1VHPyEeqfXcAHbINrhA"/>
    <contextParameter comment="" name="EventHREF3" prompt="EventHREF3?" promptNeeded="false" type="id_String" value="" xmi:id="_Nno1VXPyEeqfXcAHbINrhA"/>
    <contextParameter comment="" name="ConnCookie" prompt="ConnCookie?" promptNeeded="false" type="id_String" value="" xmi:id="_Nno1VnPyEeqfXcAHbINrhA"/>
    <contextParameter comment="" name="SFEventTypeId" prompt="SFEventTypeId?" promptNeeded="false" type="id_String" value="" xmi:id="_Nno1V3PyEeqfXcAHbINrhA"/>
    <contextParameter comment="" name="darva_ref_mission_id" prompt="darva_ref_mission_id?" promptNeeded="false" type="id_String" value="" xmi:id="_Wz-pDnPyEeqfXcAHbINrhA"/>
    <contextParameter comment="" name="darva_ref_dossier" prompt="darva_ref_dossier?" promptNeeded="false" type="id_String" value="" xmi:id="_Wz-pD3PyEeqfXcAHbINrhA"/>
    <contextParameter comment="" name="darva_case_status" prompt="darva_case_status?" promptNeeded="false" type="id_String" value="" xmi:id="_Wz-pEHPyEeqfXcAHbINrhA"/>
    <contextParameter comment="" name="darva_case_travaux_rdv_date" prompt="darva_case_travaux_rdv_date?" promptNeeded="false" type="id_Date" value="" xmi:id="_Wz-pEXPyEeqfXcAHbINrhA"/>
    <contextParameter comment="" name="darva_case_appel_metrage" prompt="darva_case_appel_metrage?" promptNeeded="false" type="id_Date" value="" xmi:id="_Wz-pEnPyEeqfXcAHbINrhA"/>
    <contextParameter comment="" name="darva_case_creation_date" prompt="darva_case_creation_date?" promptNeeded="false" type="id_Date" value="" xmi:id="_Wz-pE3PyEeqfXcAHbINrhA"/>
    <contextParameter comment="" name="darva_case_type" prompt="darva_case_type?" promptNeeded="false" type="id_String" value="" xmi:id="_Wz-pFHPyEeqfXcAHbINrhA"/>
    <contextParameter comment="" name="darva_case_date" prompt="darva_case_date?" promptNeeded="false" type="id_String" value="" xmi:id="_Wz-pFXPyEeqfXcAHbINrhA"/>
    <contextParameter comment="" name="darva_case_hour" prompt="darva_case_hour?" promptNeeded="false" type="id_String" value="" xmi:id="_Wz-pFnPyEeqfXcAHbINrhA"/>
    <contextParameter comment="" name="darva_rdv_dynamic_link_uri" prompt="darva_rdv_dynamic_link_uri?" promptNeeded="false" type="id_String" value="" xmi:id="_Wz-pF3PyEeqfXcAHbINrhA"/>
    <contextParameter comment="" name="darva_case_date_rdv_metrage_prevue" prompt="darva_case_date_rdv_metrage_prevue?" promptNeeded="false" type="id_Date" value="" xmi:id="_Wz-pGHPyEeqfXcAHbINrhA"/>
    <contextParameter comment="" name="planificationId" prompt="planificationId?" promptNeeded="false" type="id_String" value="" xmi:id="_Wz-pGXPyEeqfXcAHbINrhA"/>
    <contextParameter comment="" name="URI_modif_RDV_travaux" prompt="URI_modif_RDV_travaux?" promptNeeded="false" type="id_String" value="/commands/modifierPlanificationTravaux" xmi:id="_Wz-pGnPyEeqfXcAHbINrhA"/>
    <contextParameter comment="" name="franchiseMontant" prompt="franchiseMontant?" promptNeeded="false" type="id_BigDecimal" value="" xmi:id="_Wz-pG3PyEeqfXcAHbINrhA"/>
    <contextParameter comment="" name="URI_Maj_date_metrage2" prompt="URI_Maj_date_metrage2?" promptNeeded="false" type="id_String" value="/commands/modifier" xmi:id="_xIk9wn4wEeqwzIReZCMKfw"/>
    <contextParameter comment="" name="URI_Maj_date_metrage" prompt="URI_Maj_date_metrage?" promptNeeded="false" type="id_String" value="/core/api/covea/rendezVous/" xmi:id="_xIk9w34wEeqwzIReZCMKfw"/>
    <contextParameter comment="" name="rendezvousId" prompt="rendezvousId?" promptNeeded="false" type="id_String" value="" xmi:id="_53HwEYiVEeq0iM04chVCLQ"/>
  </talendfile:ContextType>
  <talendfile:ContextType confirmationNeeded="false" name="TEST" xmi:id="_sJcQ9NlCEems6qJ5vTZaKA">
    <contextParameter comment="" name="login" prompt="login?" promptNeeded="false" type="id_String" value="43011sinapps" xmi:id="_sJcQ9dlCEems6qJ5vTZaKA"/>
    <contextParameter comment="" name="password" prompt="password?" promptNeeded="false" type="id_Password" value="enc:system.encryption.key.v1:E+VCfmy/ZO17C8vhjAxcWdlY6gByZpjCMphI3QI+P+e8R+wE" xmi:id="_sJcQ9tlCEems6qJ5vTZaKA"/>
    <contextParameter comment="" name="URL" prompt="URL?" promptNeeded="false" type="id_String" value="https://sinapps-ird.vabf.darva.com" xmi:id="_sJcQ99lCEems6qJ5vTZaKA"/>
    <contextParameter comment="" name="Path_Connection" prompt="Path_Connection?" promptNeeded="false" type="id_String" value="/core/api/login" xmi:id="_-R0yodlCEems6qJ5vTZaKA"/>
    <contextParameter comment="" name="Filter_Mission" prompt="Filter_Mission?" promptNeeded="false" type="id_String" value="MissionCreee" xmi:id="_ReGrMdlMEems6qJ5vTZaKA"/>
    <contextParameter comment="" name="Date_Format" prompt="Date_Format?" promptNeeded="false" type="id_String" value="yyyy-MM-dd'T'HH:mm:ssTZH:TZM" xmi:id="_LlzRQdnfEemTKs-8yslLdQ"/>
    <contextParameter comment="" name="Path_Events1" prompt="Path_Events1?" promptNeeded="false" type="id_String" value="/core/api/partenaire/users/" xmi:id="_7XJjUt36Eemv9od55d14VA"/>
    <contextParameter comment="" name="Path_Events2" prompt="Path_Events2?" promptNeeded="false" type="id_String" value="/linkedEvents" xmi:id="_7XJjU936Eemv9od55d14VA"/>
    <contextParameter comment="" name="URI_add_photo1" prompt="URI_add_photo1?" promptNeeded="false" type="id_String" value="/core/api/covea/missions/" xmi:id="_An5ZYt-qEemi474SQw4Ttw"/>
    <contextParameter comment="" name="URI_add_photo2" prompt="URI_add_photo2?" promptNeeded="false" type="id_String" value="/commands/ajouterPhoto" xmi:id="_An5ZY9-qEemi474SQw4Ttw"/>
    <contextParameter comment="" name="URI_add_document1" prompt="URI_add_document1?" promptNeeded="false" type="id_String" value="/core/api/covea/missions/" xmi:id="_zNHdsOEGEemUo7UM6q2HUw"/>
    <contextParameter comment="" name="URI_add_document2" prompt="URI_add_document2?" promptNeeded="false" type="id_String" value="/commands/ajouterDocument" xmi:id="_zNHdseEGEemUo7UM6q2HUw"/>
    <contextParameter comment="" name="URI_take_RDV1" prompt="URI_take_RDV1?" promptNeeded="false" type="id_String" value="/core/api/covea/missions/" xmi:id="_GD3gQuX0Eemo48OTUo1UPQ"/>
    <contextParameter comment="" name="URI_take_RDV2" prompt="URI_take_RDV2?" promptNeeded="false" type="id_String" value="/commands/prendreRendezVousAvecModifications" xmi:id="_GD3gQ-X0Eemo48OTUo1UPQ"/>
    <contextParameter comment="" name="URI_take_RDV_travaux" prompt="URI_take_RDV_travaux?" promptNeeded="false" type="id_String" value="/commands/planifierTravaux" xmi:id="_TDLUAQu_EeqZVqDlcSz2UQ"/>
    <contextParameter comment="" name="URI_travaux" prompt="URI_travaux?" promptNeeded="false" type="id_String" value="/core/api/covea/travaux/" xmi:id="_9G9mAQxbEeqZVqDlcSz2UQ"/>
    <contextParameter comment="" name="URI_take_RDV3" prompt="URI_take_RDV3?" promptNeeded="false" type="id_String" value="/commands/prendreRendezVous" xmi:id="_iomaARD_EeqPdt07VIueKQ"/>
    <contextParameter comment="" name="URI_Maj_Email" prompt="URI_Maj_Email?" promptNeeded="false" type="id_String" value="/core/api/covea/missions/" xmi:id="_laJicDtuEeq8C-64b-kt5w"/>
    <contextParameter comment="" name="URI_Maj_Email2" prompt="URI_Maj_Email2?" promptNeeded="false" type="id_String" value="/commands/modifierCoordonneesAssure" xmi:id="_0TAXoDtvEeq8C-64b-kt5w"/>
    <contextParameter comment="" name="Sinapps_Id" prompt="Sinapps_Id?" promptNeeded="false" type="id_String" value="" xmi:id="_Nno1WHPyEeqfXcAHbINrhA"/>
    <contextParameter comment="" name="Partenaire_Id" prompt="Partenaire_Id?" promptNeeded="false" type="id_String" value="" xmi:id="_Nno1WXPyEeqfXcAHbINrhA"/>
    <contextParameter comment="" name="Links" prompt="Links?" promptNeeded="false" type="id_String" value="" xmi:id="_Nno1WnPyEeqfXcAHbINrhA"/>
    <contextParameter comment="" name="Last_Event_Id" prompt="Last_Event_Id?" promptNeeded="false" type="id_String" value="" xmi:id="_Nno1W3PyEeqfXcAHbINrhA"/>
    <contextParameter comment="" name="CurrentEventId1" prompt="CurrentEventId1?" promptNeeded="false" type="id_String" value="" xmi:id="_Nno1XHPyEeqfXcAHbINrhA"/>
    <contextParameter comment="" name="CurrentEventId2" prompt="CurrentEventId2?" promptNeeded="false" type="id_String" value="" xmi:id="_Nno1XXPyEeqfXcAHbINrhA"/>
    <contextParameter comment="" name="CurrentEventId3" prompt="CurrentEventId3?" promptNeeded="false" type="id_String" value="" xmi:id="_Nno1XnPyEeqfXcAHbINrhA"/>
    <contextParameter comment="" name="EventHREF1" prompt="EventHREF1?" promptNeeded="false" type="id_String" value="" xmi:id="_Nno1X3PyEeqfXcAHbINrhA"/>
    <contextParameter comment="" name="EventHREF2" prompt="EventHREF2?" promptNeeded="false" type="id_String" value="" xmi:id="_Nno1YHPyEeqfXcAHbINrhA"/>
    <contextParameter comment="" name="EventHREF3" prompt="EventHREF3?" promptNeeded="false" type="id_String" value="" xmi:id="_Nno1YXPyEeqfXcAHbINrhA"/>
    <contextParameter comment="" name="ConnCookie" prompt="ConnCookie?" promptNeeded="false" type="id_String" value="" xmi:id="_Nno1YnPyEeqfXcAHbINrhA"/>
    <contextParameter comment="" name="SFEventTypeId" prompt="SFEventTypeId?" promptNeeded="false" type="id_String" value="" xmi:id="_Nno1Y3PyEeqfXcAHbINrhA"/>
    <contextParameter comment="" name="darva_ref_mission_id" prompt="darva_ref_mission_id?" promptNeeded="false" type="id_String" value="" xmi:id="_Wz-pHHPyEeqfXcAHbINrhA"/>
    <contextParameter comment="" name="darva_ref_dossier" prompt="darva_ref_dossier?" promptNeeded="false" type="id_String" value="" xmi:id="_Wz-pHXPyEeqfXcAHbINrhA"/>
    <contextParameter comment="" name="darva_case_status" prompt="darva_case_status?" promptNeeded="false" type="id_String" value="" xmi:id="_Wz-pHnPyEeqfXcAHbINrhA"/>
    <contextParameter comment="" name="darva_case_travaux_rdv_date" prompt="darva_case_travaux_rdv_date?" promptNeeded="false" type="id_Date" value="" xmi:id="_Wz-pH3PyEeqfXcAHbINrhA"/>
    <contextParameter comment="" name="darva_case_appel_metrage" prompt="darva_case_appel_metrage?" promptNeeded="false" type="id_Date" value="" xmi:id="_Wz-pIHPyEeqfXcAHbINrhA"/>
    <contextParameter comment="" name="darva_case_creation_date" prompt="darva_case_creation_date?" promptNeeded="false" type="id_Date" value="" xmi:id="_Wz-pIXPyEeqfXcAHbINrhA"/>
    <contextParameter comment="" name="darva_case_type" prompt="darva_case_type?" promptNeeded="false" type="id_String" value="" xmi:id="_Wz-pInPyEeqfXcAHbINrhA"/>
    <contextParameter comment="" name="darva_case_date" prompt="darva_case_date?" promptNeeded="false" type="id_String" value="" xmi:id="_Wz-pI3PyEeqfXcAHbINrhA"/>
    <contextParameter comment="" name="darva_case_hour" prompt="darva_case_hour?" promptNeeded="false" type="id_String" value="" xmi:id="_Wz-pJHPyEeqfXcAHbINrhA"/>
    <contextParameter comment="" name="darva_rdv_dynamic_link_uri" prompt="darva_rdv_dynamic_link_uri?" promptNeeded="false" type="id_String" value="" xmi:id="_Wz-pJXPyEeqfXcAHbINrhA"/>
    <contextParameter comment="" name="darva_case_date_rdv_metrage_prevue" prompt="darva_case_date_rdv_metrage_prevue?" promptNeeded="false" type="id_Date" value="" xmi:id="_Wz-pJnPyEeqfXcAHbINrhA"/>
    <contextParameter comment="" name="planificationId" prompt="planificationId?" promptNeeded="false" type="id_String" value="" xmi:id="_Wz-pJ3PyEeqfXcAHbINrhA"/>
    <contextParameter comment="" name="URI_modif_RDV_travaux" prompt="URI_modif_RDV_travaux?" promptNeeded="false" type="id_String" value="/commands/modifierPlanificationTravaux" xmi:id="_Wz-pKHPyEeqfXcAHbINrhA"/>
    <contextParameter comment="" name="franchiseMontant" prompt="franchiseMontant?" promptNeeded="false" type="id_BigDecimal" value="" xmi:id="_Wz-pKXPyEeqfXcAHbINrhA"/>
    <contextParameter comment="" name="URI_Maj_date_metrage2" prompt="URI_Maj_date_metrage2?" promptNeeded="false" type="id_String" value="/commands/modifier" xmi:id="_xIk9xH4wEeqwzIReZCMKfw"/>
    <contextParameter comment="" name="URI_Maj_date_metrage" prompt="URI_Maj_date_metrage?" promptNeeded="false" type="id_String" value="/core/api/covea/rendezVous/" xmi:id="_xIk9xX4wEeqwzIReZCMKfw"/>
    <contextParameter comment="" name="rendezvousId" prompt="rendezvousId?" promptNeeded="false" type="id_String" value="" xmi:id="_53HwEoiVEeq0iM04chVCLQ"/>